USE [ProductosPrueba]
GO
/****** Object:  StoredProcedure [dbo].[ProductAdd]    Script Date: 19/03/2026 12:35:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductAdd]
@Name VARCHAR(50),
@Price INT
AS
BEGIN
	INSERT INTO Product(Name, Price) VALUES (@Name, @Price)
END
GO
/****** Object:  StoredProcedure [dbo].[ProductDelete]    Script Date: 19/03/2026 12:35:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductDelete]
@IdProduct INT
AS
BEGIN
	DELETE FROM Product WHERE IdProduct = @IdProduct
END
GO
/****** Object:  StoredProcedure [dbo].[ProductGetAll]    Script Date: 19/03/2026 12:35:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductGetAll]
AS
BEGIN
	SELECT IdProduct,Name, Price FROM Product
END
GO
/****** Object:  StoredProcedure [dbo].[ProductGetById]    Script Date: 19/03/2026 12:35:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductGetById]
@IdProduct INT
AS
BEGIN
	SELECT IdProduct,Name, Price FROM Product WHERE IdProduct = @IdProduct
END
GO
/****** Object:  StoredProcedure [dbo].[ProductUpdate]    Script Date: 19/03/2026 12:35:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductUpdate]
@Name VARCHAR(50),
@Price INT,
@IdProduct INT
AS
BEGIN
	UPDATE Product SET
	Name = @Name,
	Price = @Price
	WHERE
	IdProduct = @IdProduct
END
GO
/****** Object:  Table [dbo].[Product]    Script Date: 19/03/2026 12:35:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[IdProduct] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([IdProduct], [Name], [Price]) VALUES (3, N'Bomba de aire', 13)
INSERT [dbo].[Product] ([IdProduct], [Name], [Price]) VALUES (5, N'Polla', 15)
SET IDENTITY_INSERT [dbo].[Product] OFF
